name: Node.js CI

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

jobs:
  bulid:
  
    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [19.x, 20.x, 22.x]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v6.0.0
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v3
      with:
        node-version: ${{ matrix.node-version }}
    - name: Install dependencies
      run: npm install
    - name: Run tests
      run: npm test